body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eef0f2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
body,
main,
.App {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
li {
  margin: 0;
}

input {
  padding: 0;
}

input.readonly {
  border: none
}

input.minimal-width {
  field-sizing: content;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

main {
  margin-left: auto;
    margin-right: auto;
    max-width: 47rem;
    min-width: 32rem;
}